@font-face {
  font-family: Oswald
  src: url('\fonts\Oswald-bold.ttf') format('truetype'),
	}

body {
  font-family: Optima, sans-serif;
}

h {
  font-family: Optima, Verdana,sans-serif;
  text-transform:uppercase;
  text-decoration: "🔗"
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 1.35em;
  margin-bottom: 3.5rem;
  padding: 0;
}

.sexy {
  font-family: Papyrus,sans-serif;
  text-transform:uppercase;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 1.35em;
  margin-bottom: 3.5rem;
  padding: 0;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
